h2 p a {
    color: #353535;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #353535;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #353535;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    padding-top: 50px;
    width: 65%;
}